REACT_APP_APPWRITE_ENDPOINT_URL = ""
REACT_APP_APPWRITE_PROJECT_ID = ""
REACT_APP_APPWRITE_DATABASE_ID = ""
REACT_APP_APPWRITE_USERS_COLLECTION_ID = ""
REACT_APP_APPWRITE_EMAILS_COLLECTION_ID = ""
REACT_APP_APPWRITE_STORAGE_ID = ""
REACT_APP_TINYMCE_API_KEY = ""